html {
  scroll-behavior: smooth;
  background-color: #e5e5dc;
}

header {
  color: white;
  background-color: #26495c;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

footer {
  padding: 5px;

  text-align: center;
  background-color: #26495c;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0px -5px 5px 0px rgba(0, 0, 0, 0.25);
}

body {
  max-width: 1440px;
  margin: 0 auto;

  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.title {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.projects {
  padding: 25px 50px;
}

.project {
  display: flex;
  padding: 10px 0;

  &__picture {
    width: 390px;

    border-radius: 16px;
    transition: transform .3s;
    filter: drop-shadow(0px 5px 5px gray);

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &__content {
    padding: 0 0 0 20px;
  }
}

.social {
  &__icon {
    width: 40px;
  }
}